<header id="HOME">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Egor Krasilnikov</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="https://vk.com/id464753565">
            <i class="fa fa-vk"></i></a>
          <a class="nav-item nav-link" href="resume.pdf">Resume</a>
          <a class="nav-item nav-link" href="/blog">Blog</a>
        </div>
      </div>
    </nav>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">

        <div class="row justify-content-md-center">
          <h1>Hi, I'm Egor.</h1>
          <p class="lead text-muted">I'm Egor Krasilnikov and I love to make Django websites. Besides I'm developer of cross-platform mobile applications. </p>
          <p>
            <a href="mailto:egor322129@gmail.com" class="btn btn-email">Email Me</a>
          </p>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-3 photo-container">
            <img src="icon.jpg" width="100%" style="border-radius: 25px; border: 1px solid #007bff; padding: 3px">
            <form method="post" enctype="multipart/form-data" action="/upload">
              <input type="file" name="file">
              <input type="submit" value="Submit">
            </form>
            {{!-- <a id="upload-button" onclick="chooseFile();">
                  <i class="fa fa-upload"></i>
            </a>
            <form method="post" enctype="multipart/form-data" action="/upload" id="form-photo">
                <input type="file" name="upload-photo" id="upload-photo" hidden="true">
            </form> --}}

          </div>
        </div>
    </div>
  </section>

  <div class="container">
    <div class="row justify-content-md-center">

      <div class="bxslider">
          {{#each blogs}} 
            <div class="item">
                <div class="card mb-4 shadow-sm">
                  <img class="bd-placeholder-img card-img-top"  src={{image_url}}>
                  <div class="card-body">
                    <p class="card-text">{{blog_name}}</p>
                  </div>
                </div>
              
            </div>
          {{/each}}    
      </div>

    </div>
  </div>

</main>

<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div id="copyridght">
                  <p> Copyright &copy; 2016 <a href="#"> - CustomIze</a></p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="scroll-top">
                  <a href="#HOME" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--        BX Slider-->
<script src="js/jquery.bxslider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="js/home.js"></script>
